.country {
    border: 2px solid salmon;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    height: auto;
}

.country-visited{
    background-color: rgb(13, 74, 53);
}
.height{
    height: 170px;
    width: 350px;
}